.cartContent {
  max-width: 700px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  text-align: justify;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;

  &-table {
    border-collapse: collapse;
    width: 100%;

    &-title {
      border-bottom: 2px solid rgb(207, 207, 207);
    }

    &-button {
      color: red;
      border: none;
      background-color: transparent;
      font-size: 20px;
    }
  }

  &-element {
    margin-top: 20px;
    margin-right: 50px;

    &-buy {
      display: flex;
      background-color: #ae481a;
      width: 100px;
      height: 40px;
      color: white;
      font-size: 18px;
      justify-content: center;
      align-items: center;
      border: none;

      &-icon {
        background-image: url("data:image/svg+xml, %3Csvg fill='none' stroke='%23ae481a' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
        width: 36px;
        height: 36px;
        padding: 7px;
        background-color: #ffe9d8;
        position: relative;
        left: 40px;
        color: #ae481a;
      }
    }
  }
}

.emptyContent {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 25px;
  font-size: 20px;
}
