.cartDetail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0 12px 0px;
  background: white;

  &-text {
    text-decoration: none;
    font-size: 25px;
    color: black;
  }

  &-dropdown {
    &-button {
      border: none;
      background-color: transparent;
      font-size: 20px;
    }

    &-content {
      max-width: 100%;
      display: none;
      background-color: #f9f9f9;
      position: absolute;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 20px;
 
    }

    .cart {
      display: flex;
      flex-direction: column;
      &-remove {
        color: red;
        border: none;
        background-color: transparent;
        font-size: 20px;
      }

      &-link {
        text-decoration: none;
        color: #e24a03;
        font-size: 20px;
      }

      &-text {
        padding-bottom: 10px;
      }
    }
  }
}

.cartDetail-dropdown:hover .cartDetail-dropdown-content {
  display: flex;

}

@media(max-width:800px){
 .cartDetail-dropdown-content{
  left: auto;
  right: 4px;
} 
}