.foodDetail {
  max-width: 750px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(243, 243, 243);
  margin-top: 50px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  &-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #af2323;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}

.foodDetailItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;

  &-image {
    border-radius: 0 8px 8px 0;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 300px;
    font-size: 25px;
    margin-left: 10px;

    &-button {
      display: flex;
      background-color: #ae481a;
      width: 125px;
      height: 40px;
      color: white;
      font-size: 18px;
      justify-content: center;
      align-items: center;
      border: none;
    }

    &-icon {
      background-image: url("data:image/svg+xml, %3Csvg fill='none' stroke='%23ae481a' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
      width: 36px;
      height: 36px;
      padding: 10px;
      background-color: #ffe9d8;
      position: relative;
      left: 25px;
      color: #ae481a;
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .foodDetail {
    max-width: 400px;
    width: 90%;
  }

  .foodDetailItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    margin: 0px;

    &-text {
      font-size: 20px;
      width: 300px;
      justify-content: space-evenly;
    }

    &-image {
      width: 300px;
      height: 300px;
      border-radius: 0;
    }
  }
}

@media (max-width: 300px) {
  
  .foodDetail {
    max-width: 300px;
    width: 90%;
  }

  .foodDetailItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    margin: 0px;

    &-text {
      font-size: 20px;
      width: 200px;
      justify-content: space-evenly;
    }

    &-image {
      width: 200px;
      height: 200px;
      border-radius: 0;
    }
  }
}
