.foodList {
  justify-content: center;
  align-items: center;
  display: flex;
  
  &-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #af2323;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  &-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: flex;
    color: black;
    background-color: white;
    padding: 15px;
    width: calc(50% - 10px);
    margin: 5px;
    justify-content: space-between;
    border-radius: 8px;
    border: none;

    &-img {
      border-radius: 4px;
    }
  }

  &-itemText {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: space-evenly;

    .foodListButton {
      &-add {
        display: flex;
        background-color: #ae481a;
        height: 40px;
        color: white;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        border: none;

        &-icon {
          background-image: url("data:image/svg+xml, %3Csvg fill='none' stroke='%23ae481a' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
          width: 36px;
          height: 36px;
          padding: 7px;
          background-color: #ffe9d8;
          position: relative;
          left: 25px;
          color: #ae481a;
        }
      }
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .foodList {
    &-container {
      display: block;
      justify-content: center;
      align-items: center;
    }

    &-item {
      width: calc(100% - 20px);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 300px) {
  .foodListButton {
    &-add {
      width: 110px;
    }
  }
}
