.hero{
  background-color: rgb(233, 230, 230);
  padding:15px 0px ;

}

.hero-image {
  background-image: linear-gradient(rgba(59, 9, 9, 0.5), rgba(71, 0, 0, 0.5)),
    url("../images/photo3.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  font-size: 40px;
  align-items: center;
  height: 160px;
  background-repeat:no-repeat;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px 12px 0 0;
  background-color: rgb(214, 210, 210);

  &-text {
    color: white;

}
}


